.button {
    position: absolute;
    top:30%;
    right: 7%;
    background-color: #0a2123;
    color: #fff;
    border:none;
    border-radius:10px;
    padding:15px;
    min-height:30px;
    min-width: 120px;
    position: fixed;
}

.button:hover {
    background-color: grey;
    transition: 0.7s;
}

.my_type_div {
    position: fixed;
    /*width: 55%;*/
    width: 13.75%;
    z-index: 2;
    margin-top: 15%;
    margin-left: 5%;
    float: left;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 5px;
}

.my_type_div ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.my_type_div ul li {
    padding: 5%;
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.06);
}

.my_type_div ul li:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.06);
}

.particular_type_div {
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 40%;
    z-index: 20;
    margin-top: 15%;
    margin-left: 19.25%;
    border-radius: 5px;
    display: none;
}

.one_part {
    width: 45%;
    margin: 2.5%;
    height: auto;
    float: left;
    padding-bottom: 5%;
}

.type_title_div {
    display: inline;
}

.one_part .type_border_span {
    float: left;
    margin-left: 8%;
    margin-top: 8%;
    margin-right: 8%;
    background-color: blueviolet;
    color: blueviolet;
}

.type_title_div h3 {
    color: rgba(0, 0, 0, 0.71);
}

.one_part .type_goods_list {
    margin-left: 4%;
}

.one_part .type_goods_list a {
    font-size: 1em;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.62);
    padding-right: 4%;
}

.one_part .type_goods_list a:hover {
    color: blueviolet;
}

.temp_content {
    width: 99%;
    min-width: 800px;
    position: absolute;
    display: inline-block;
    top: 20%;
    padding: 0;
}

.require_content_div {
    width: 75%;
    min-height: 20em;
    margin-top: 3%;
    margin-left: 5%;
    display: block;
    z-index: 25;
}

.require_one_part {
    width: 25%;
    float: left;
    margin: 5% 2%;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding: 2%;
    line-height: 2.7em;
    text-align: left;
}

.require_one_part:hover {
    cursor: pointer;
}

.require_one_part .what_info {
    font-size: 1.1em;
}

div.pagination_div {
    display: block;
    width: 40%;
    height: 36px;
    clear: both;
    margin-bottom: 5%;
    margin-left: 42%;
}

.pagination_div ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pagination_div ul li {
    float: left;
}

.pagination_div .pagination_lt, .pagination_div .pagination_gt {
    float: left;
}

.pagination_div .pagination_lt, .pagination_div ul li,
.pagination_div .pagination_gt {
    width: 6%;
    height: 36px;
    background-color: white;
    margin-left: 4%;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.54);
    text-align: center;
    vertical-align: middle;
    padding-top: 0.3em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.all_info {
    height: 3em;
    overflow: hidden;
}

.pagination_div .pagination_lt:hover, .pagination_div ul li:hover,
.pagination_div .pagination_gt:hover {
    cursor: pointer;
    background-color: #ff8417;
}

footer {
    width: 96%;
    background-color: #ff8417;
    box-shadow: 4px 2px 10px #888888;
    border-radius: 10px;
    height: 80px;
    margin-left: 2%;
    position: absolute;
    top: 100%;
}

footer p {
    padding-top: 10px;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-size: 1.2em;
}

.shop_sort {
    cursor: pointer;
    padding: 0 5px;
}

.shop_sort:hover {
    color: red;
}

/*new*/
.pagination_div li.current_page {
    background-color: #ff8417;
}